{% extends 'base.html' %}



{% block content %}
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in  category_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipt_list.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    
{% endblock content %}
